@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Star Wars', sans-serif !important;
  background: #141414;
}
